save-exact=true
strict-peer-dependencies=true
auto-install-peers=false
prefer-frozen-lockfile=true
resolution-mode=highest
verify-store-integrity=true
shared-workspace-lockfile=true
link-workspace-packages=true
